c'est le mod√©le word2vec qu'on va utiliser avec cnn et lstm

In [ ]:
!pip install gensim
!pip install python-Levenshtein

Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (3.6.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.19.5)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (5.2.1)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.4.1)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.15.0)
Collecting python-Levenshtein
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 50 kB 3.0 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein) (57.4.0)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149864 sha256=bdfc6be323a3b486703a0a971db939c6ef6da7b20668a9ea39918ac1d186386b
  Stored in directory: /root/.cache/pip/wheels/05/5f/ca/7c4367734892581bb5ff896f15027a932c551080b2abd3e00d
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.2

In [ ]:
import gensim
import pandas as pd

In [ ]:
import numpy as np #linear algebra
import pandas as pd #data preprocessing
import csv
import tensorflow as tf

importation des donn√©es

In [ ]:
train_data = pd.read_csv('/content/train.tsv.zip', sep = '\t')
train_data.drop(train_data.columns[0:2],axis=1,inplace=True)
train_data.rename(columns={'Sentiment': 'MOS','Phrase': 'Comment'}, inplace=True)

train_data =train_data.loc[:, ["MOS","Comment"]]
train_data['MOS']+=1
train_data

        MOS                                            Comment
0         2  A series of escapades demonstrating the adage ...
1         3  A series of escapades demonstrating the adage ...
2         3                                           A series
3         3                                                  A
4         3                                             series
...     ...                                                ...
156055    3                                          Hearst 's
156056    2                          forced avuncular chortles
156057    4                                 avuncular chortles
156058    3                                          avuncular
156059    3                                           chortles

[156060 rows x 2 columns]

In [ ]:
df =pd.DataFrame(pd.read_excel('/content/Dataset.xlsx'))
df

     Statistiques horaires  ...                                            Comment
0               2020042904  ...  For learn data science,\nIs it necessary to le...
1               2020052016  ...  my psychology lecturer recommend us to watch t...
2               2020051501  ...        Great video. You did great explaining this.
3               2020052814  ...  I recommend this video to anyone trying to los...
4               2020052101  ...  I took too many breaks, lol. This is a killer ...
..                     ...  ...                                                ...
146             2020051609  ...  how can one be passionate about data science a...
147             2020060819  ...                                 He's so handsome üòâ
148             2020051614  ...                                             omgüòçüòçü•∞
149             2020051605  ...                                        complex job
150             2020051606  ...                                  1:58 That‚Äôs cute.

[151 rows x 23 columns]

√©limination des colonnes inutile pour l'analyse des sentiments

In [ ]:
df.drop(df.columns[0:16],axis=1,inplace=True)
df

     MOS  net_delay  ...  id_video                                            Comment
0      3          1  ...      vid3  For learn data science,\nIs it necessary to le...
1      5        850  ...      vid2  my psychology lecturer recommend us to watch t...
2      4       1100  ...      vid3        Great video. You did great explaining this.
3      5       1500  ...      vid9  I recommend this video to anyone trying to los...
4      5       2000  ...      vid9  I took too many breaks, lol. This is a killer ...
..   ...        ...  ...       ...                                                ...
146    3        400  ...      vid3  how can one be passionate about data science a...
147    4       1500  ...      vid6                                 He's so handsome üòâ
148    5       1800  ...      vid6                                             omgüòçüòçü•∞
149    3          1  ...      vid3                                        complex job
150    4        600  ...      vid4                                  1:58 That‚Äôs cute.

[151 rows x 7 columns]

In [ ]:
df.drop(df.columns[1:6],axis=1,inplace=True)
df

     MOS                                            Comment
0      3  For learn data science,\nIs it necessary to le...
1      5  my psychology lecturer recommend us to watch t...
2      4        Great video. You did great explaining this.
3      5  I recommend this video to anyone trying to los...
4      5  I took too many breaks, lol. This is a killer ...
..   ...                                                ...
146    3  how can one be passionate about data science a...
147    4                                 He's so handsome üòâ
148    5                                             omgüòçüòçü•∞
149    3                                        complex job
150    4                                  1:58 That‚Äôs cute.

[151 rows x 2 columns]

In [ ]:
frames = [df,train_data]
data = pd.concat(frames)
data

        MOS                                            Comment
0         3  For learn data science,\nIs it necessary to le...
1         5  my psychology lecturer recommend us to watch t...
2         4        Great video. You did great explaining this.
3         5  I recommend this video to anyone trying to los...
4         5  I took too many breaks, lol. This is a killer ...
...     ...                                                ...
156055    3                                          Hearst 's
156056    2                          forced avuncular chortles
156057    4                                 avuncular chortles
156058    3                                          avuncular
156059    3                                           chortles

[156211 rows x 2 columns]

In [ ]:
data.shape

(156211, 2)

In [ ]:
data_prep =data.Comment.apply(gensim.utils.simple_preprocess)
data_prep

0         [for, learn, data, science, is, it, necessary,...
1         [my, psychology, lecturer, recommend, us, to, ...
2         [great, video, you, did, great, explaining, this]
3         [recommend, this, video, to, anyone, trying, t...
4         [took, too, many, breaks, lol, this, is, kille...
                                ...
156055                                             [hearst]
156056                        [forced, avuncular, chortles]
156057                                [avuncular, chortles]
156058                                          [avuncular]
156059                                           [chortles]
Name: Comment, Length: 156211, dtype: object

construction du mod√©le word2vec

In [ ]:
model = gensim.models.Word2Vec(
    window=10,
    min_count=2,
    workers=4,
)

In [ ]:
model.build_vocab(data_prep, progress_per=1000)

In [ ]:
model.train(data_prep, total_examples=model.corpus_count, epochs=model.epochs)

(4095286, 5039805)

enregistrement du mod√©le pour l'utiliser avec CNN et LSTM

In [ ]:
model.save("/content/word2vec-movie_review.model")